---
import Layout from '../layouts/Layout.astro';

const hello = "oesuantho"
---

<Layout title='jobnbackpack'>
  <main class='absolute flex w-full h-full bg-gray-100 flex-col justify-center items-center '> 
    <h1 class='text-4xl md:text-6xl xl:text-8xl text-gray-300 hover:scale-120 cursor-default transition-all'>{'<< '}<span class="text-gradient">jobnbackpack</span>{' >>'}</h1> 
    <h2 class='text-base md:text-lg xl:text-2xl text-gray-500 italic m-2 transition-all'>This website is work in progress. ^^</h2>
	</main>
</Layout>

<style>
	:root {
		--astro-gradient: linear-gradient(0deg, #4f39fa, #da62c4);
    --jobnbackpack-gradient: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
	}

	.text-gradient {
		font-weight: 900;
    background-image: var(--jobnbackpack-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 200% 100%;
		background-position-x: 100%;
		border-radius: 0.4rem;
		animation: pulse 4s ease-in-out infinite;
	}

	@keyframes pulse {
		0%,
		100% {
			background-position-x: 0%;
		}
		50% {
			background-position-x: 80%;
		}
	}
</style>
