---
import Layout from '../layouts/Layout.astro'
import LinkRow from '../components/LinkRow'
import { Icon } from 'astro-icon'
---

<Layout title="jobnbackpack">
  <main
    class="absolute flex w-full h-full bg-gray-100 flex-col justify-center items-center"
  >
    <h1
      class="text-4xl md:text-6xl xl:text-8xl text-gray-300 hover:scale-120 cursor-default transition-all m-10"
    >
      <Icon
        pack="ant-design"
        name="double-left-outlined"
        class="inline-block w-[3rem] md:w-[6rem] xl:w-[10rem]"
      /><span class="text-gradient mx-5">jobnbackpack</span><Icon
        pack="ant-design"
        name="double-right-outlined"
        class="inline-block w-[3rem] md:w-[6rem] xl:w-[10rem]"
      />
    </h1>

    <section class="flex justify-evenly w-full text-gray-300">
      <article class="hover:text-gray-900 transition-colors">
        <a href="https://github.com/jobnbackpack" target="_blank">
          <Icon pack="ant-design" name="github-outlined" class="w-[5rem]" />
          <label class="text-center block text-2xl">github</label>
        </a>
      </article>
      <article class="hover:text-[#1DA1F2] transition-colors">
        <a href="https://twitter.com/BackpackJobn" target="_blank">
          <Icon pack="ant-design" name="twitter" class="w-[5rem]" />
          <label class="text-center block text-2xl">twitter</label>
        </a>
      </article>
      <article class="transition-colors relative text-gray-200">
        <a href="#" data-after="coming soon">
          <!-- class="hover:after:content-[attr(data-after)] after:text-red-400 after:absolute after:left-5 after:top-1/2 after:rotate-[-5deg] after:font-bold hover:after:bg-black after:p-2 after:transition-all" -->
          <Icon pack="ant-design" name="book-outlined" class="w-[5rem]" />
          <label class="text-center block text-2xl">blog</label>
        </a>
      </article>
      <article class="transition-colors text-gray-200">
        <a href="#">
          <Icon pack="ant-design" name="rocket-outlined" class="w-[5rem]" />
          <label class="text-center block text-2xl">projects</label>
        </a>
      </article>
    </section>
  </main>
</Layout>

<style>
  :root {
    --jobnbackpack-gradient: linear-gradient(90deg, #1cb5e0 0%, #000851 100%);
  }

  .text-gradient {
    font-weight: 900;
    background-image: var(--jobnbackpack-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position-x: 100%;
    border-radius: 0.4rem;
    animation: pulse 4s ease-in-out infinite;
  }

  @keyframes pulse {
    0%,
    100% {
      background-position-x: 0%;
    }
    50% {
      background-position-x: 80%;
    }
  }
</style>
