---
import Header from '../components/Header.astro';
import ProjectPreview from '../components/ProjectPreview.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Projects">
    <section>
        <Header title="projects" imgUrl="project_thumbnail.JPG" />
        <ProjectPreview
            title="ChefPlanner"
            description="SvelteKit App for planning recipes for the week. (Recipe-Book, Planner, Groceries List). Currently in development."
            color="#d4163c"
            moreLink="https://chefplanner.vercel.app/login"
        />
        <ProjectPreview
            title="Bible Quiz App"
            description="A 'doulingo-like' quiz app to learn more about the Bible. Paused with v0.1.0-beta. Available on testflight for iOS"
            moreLink="/projects/bqa"
            testflightLink="https://testflight.apple.com/join/yRgomhSP"
            color="#003278"
        />
        <ProjectPreview
            title="ORG Viewer"
            description="A little Tauri app which parses org files with Rust and provides it in a Svelte view."
            gitLink="https://github.com/jobnbackpack/org-mode-tauri"
            color="#2d004d"
        />
        <ProjectPreview
            title="Apodixis"
            description="Business App for fire safty documents."
            color="#3fa642"
        />
    </section>
</Layout>
