---
import Header from '../components/Header.astro';
import ProjectPreview from '../components/ProjectPreview.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Projects">
    <section>
        <Header title="projects" imgUrl="project_thumbnail.JPG" />
        <ProjectPreview
            title="Bible Quiz App"
            description="A 'doulingo-like' quiz app to learn more about the Bible."
            moreLink="/projects/bqa"
            color="#003278"
        />
        <ProjectPreview
            title="ORG Viewer"
            description="A little Tauri app which parses org files with Rust and provides it in a Svelte view"
            gitLink="https://github.com/jobnbackpack/org-tauri"
            color="#2d004d"
        />
        <ProjectPreview
            title="Apodixis"
            description="... currently paused"
            color="#3fa642"
        />
    </section>
</Layout>
