---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Projects">
    <section>
        <header
            class="relative h-52 m-5 overflow-hidden bg-gray-900 rounded-lg"
        >
            <div class="absolute z-20 flex w-full h-full">
                <div
                    class="relative z-30 w-5/6 px-6 py-8 text-white md:py-10 md:w-1/2 flex items-center"
                >
                    <h2 class="text-7xl">projects</h2>
                </div>
                <div class="absolute top-0 right-0 flex w-full h-full">
                    <div class="w-1/3 h-full bg-gray-900"></div>
                    <div class="relative w-1/3">
                        <svg
                            fill="currentColor"
                            viewBox="0 0 100 100"
                            class="absolute inset-y-0 z-20 h-full text-gray-900"
                        >
                            <polygon
                                id="diagonal"
                                points="0,0 100,0 50,100 0,100"></polygon>
                        </svg>
                        <svg
                            fill="currentColor"
                            viewBox="0 0 100 100"
                            class="absolute inset-y-0 z-10 h-full ml-2 text-[#990000]"
                        >
                            <polygon points="0,0 100,0 50,100 0,100"></polygon>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="absolute top-0 right-0 block w-9/12 h-full">
                <img
                    class="h-full min-w-full object-cover"
                    src="project_thumbnail.JPG"
                />
            </div>
        </header>
        <a
            class="m-5 border border-gray-300 rounded-md p-2 hover:bg-gray-300"
            href="/"
            >go back
        </a>
        <a href="/projects/bqa">
            <article
                class="border border-gray-300 rounded-md p-4 m-5 hover:bg-gray-200 cursor-pointer"
            >
                <label class="font-bold">Bible Quiz App</label>
                <p class="text-gray-500">
                    A 'doulingo-like' quiz app to learn more about the Bible.
                </p>
            </article>
        </a>
        <!--<a href="/projects/bqa">-->
        <article
            class="border border-gray-300 rounded-md p-4 m-5 hover:bg-gray-200 cursor-pointer"
        >
            <label class="font-bold">ORG Viewer</label>
            <p class="text-gray-500">
                A little Tauri app which parses org files with Rust and provides
                it in a Svelte view
            </p>
        </article>
        <!--</a>-->
        <article class="border border-gray-300 rounded-md p-4 m-5 bg-gray-200">
            <label class="font-bold">Apodixis</label>
            <p class="text-gray-500">... currently paused</p>
        </article>
    </section>
</Layout>
