---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro';
---

<Layout title="bqa">
    <section>
        <Header
            title="bible quiz app"
            imgUrl="../../../public/project_thumbnail.JPG"
            navBackLink="/projects"
        />
        <section class="m-5">
            <p>This should have the projects documentation. Right now there is nothing here but the German Privacy Policy.</p>
        </section>
        <footer class="m-5">
            <a
                class="border border-gray-300 rounded-md p-2 hover:bg-gray-300"
                href="bqa/data-protection">Privacy Policy</a>
        </footer>
    </section>
</Layout>
