---
import Layout from "../../layouts/Layout.astro";
---
<Layout title="bqa">
  <section>
    <div class="flex my-5 justify-center text-5xl text-gray-700 uppercase">
      Bible Quiz App
    </div>
    <section class="m-5">
      <a class="border border-gray-300 rounded-md p-2 hover:bg-gray-300" href="/projects">go back</a>
      <p class="mt-5">infos tbd..</p>
    </section>
    <footer class="m-5"><a class="border border-gray-300 rounded-md p-2 hover:bg-gray-300" href="bqa/data-protection">Datenschutz</a></footer>
  </section>
</Layout>
